.finishedContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    overflow-y: auto;
}

.likedContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    gap: 30px;
    justify-content: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.likedCard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
}

.likedCard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.likedHeader {
    color: greenyellow;
    font-size: 2rem;
    padding-bottom: 5px;
}

.resetButton {
    padding: 5px;
    font-size: 1.2rem;
    margin: 10px;
    border-radius: 10px;
    color: aliceblue;
    background-color: rgb(236, 112, 63);
    font-weight: bold;
}

@media screen and (max-height: 500px) {
    .likedHeader {
        font-size: 1rem;
    }

    .resetButton {
        position: absolute;
        top: 50%;
        right: 0;
        font-size: 1rem;
    }
}